body {
    background: #efe9cc;
  }

h2 {
    text-align: center;
}

a {
  text-decoration: none;
}


.container {
    display: grid;
    grid-template-rows: 140px auto 300px;
    grid-template-areas:
    "nav nav nav nav nav nav nav nav"
    "main main main main main main main main"
    "ft ft ft ft ft ft ft ft"
    ;
}

/* Working with nav bar  */
.logo {
  text-decoration: none;
}
.navbar {
    grid-area: nav;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f6cd90;
    margin: 0 auto;
  }

  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: black;
  }
  
  .nav-item:hover {
    background-color: white;
  }
  
  .nav-item:hover a {
    color: #000;
  }

/* Working with blog posts   */
.blog_posts_section {
    grid-area: main;
}

.nested_blog_posts_section {
    display: grid;
    grid-template-columns: 50% auto 15%;
    grid-template-areas: 
    "main main main main main side side"
    ;
}

/* Side bar */
.side_bar {
    grid-area: side;
    background: #deb781;
}

input {
    width: 80%;
    height: 50px;
}

form {
    margin-left: 2%;
}


/* Blog post section */
.blog_posts {
    grid-area: main;
}

.image {
    grid-area: img;
    width: 20%;
    height: auto;
    float: left;
    margin-right: 3%
}


/* Working with footer  */
.footer {
    grid-area: ft;
    background: #f6cd90;
  }
  
  .footer_nested_grid {
    display: grid;
    grid-template-columns: repeat(3, 11%);
    grid-template-areas: "sr sr sr sm sm sm links links links";
  }
  
  .search_bar {
    margin: 60px 70px;
    grid-area: sr;
    color: black;
  }
  
  .search_box {
    height: 30px;
    width: 100%;
  }
  
  .social_media {
    grid-area: sm;
    margin: auto;
    text-align: center;
  }
  
  .links {
    grid-area: links;
    margin: auto;
    font-size: larger;
  }
  
  .link_list {
    list-style: none;
    color: black;
  }
  
  li {
    text-decoration: none;
  }
  
  .social_icon {
    display: inline-block;
    margin: 10px;
    color: black;
  }  